<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin page</title>
    </head>
    <body>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"/>
        </form>
        
        <h1>Admin Page</h1>
        
        <!-- A8-Cross-Site Request Forgery -->
        <!-- Comment this -->
        <form th:action="@{/password}" th:method="GET">
        <!-- Uncomment this -->
        <!-- <form th:action="@{/password}" th:method="POST"> -->
		Change password: <input type="password" name="password" th:value="${password}" /><br />
		<input type="submit" value="password"/>
	</form>
        
        
        <h2>They are signed</h2>
        <table>
            <tr>
              <th>Name</th>
              <th>Creditcard</th>
              <th>Site</th> 
            </tr>
            <tr th:each="signup : ${signups}">
              <td th:text="${signup.name}"></td>
              <td th:text="${signup.creditcard}"></td>
              <td><a th:href="${signup.siteurl}"><span th:text="${signup.site}"></span></a></td>
            </tr>
        </table>
    </body>
</html>
